.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 15%
    right: 55%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.banner-principal__row .banner-principal__img
  width: 400px

.banner-interno__fondo
  background-image: url("../assets/curso/portada/img1.svg") !important

.cajon.color-primario
  background-color: #EFEAF7
.cajon.color-primario:before
  background-color: #8F52F5

.cajon.color-secundario
  background-color: #F2EEE1
.cajon.color-secundario:before
  background-color: #FFB206

.tarjeta--azul
  background-color: #F6F6F6

.lista-ol--separador li, .lista-ul--separador li
  border-bottom: dashed 1px #b0c0d2

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #E01650

.slyder-a__bullets__item
  background-color: #F3DEAE
.slyder-a__bullets__item--active
  background-color: #FFB206

.tabs-a__tab
  background-color: #E8E8E8
  height: 100%

.tarjeta.color-primario
  background-color: #FFF4D9
  p
    color: $color-sistema-texto

.bloque-texto-b.color-secundario:before
  background-color: #EBEBEB

.bloque-texto-b i
  color: #8F52F5

.tarjeta.color-acento-botones1
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img10.svg)
  background-size: 30px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto
.tarjeta.color-acento-botones2
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img11.svg)
  background-size: 34px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto
.tarjeta.color-acento-botones3
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img12.svg)
  background-size: 34px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto
.tarjeta.color-acento-botones4
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img13.svg)
  background-size: 34px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto
.tarjeta.color-acento-botones5
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img15.svg)
  background-size: 34px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto
.tarjeta.color-acento-botones6
  background-color: #FFFFFF
  background-image: url(../assets/curso/tema3/img14.svg)
  background-size: 34px
  background-repeat: no-repeat
  background-position: 5% 5%
  p
    color: $color-sistema-texto

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #FFECC1

.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__content
  background-color: #FFECC1

.bg
  &-1
    background-color: #F8F2E2
  &-c2
    background-color: #F6F6F6
    border-radius: 25px
    transition: all 0.5s ease
  &-c2:hover
    background-color: #F8BA31
  &-c3
    background-color: #F6F6F6